//===================
//GENERAL COLORS
//===================
$color-primary: #0051ff;
$color-success: #5bf181;
$color-danger: #ff1f1f;
$color-white: #fff;
$color-black: #070707;
$color-grey: #535353;

//===================
//WEBSITE THEME COLORS
//===================




//===================
//GENERAL PADDING
//===================

$p-xs: .1rem;
$p-sm: .3rem;
$p-md: .5rem;
$p-lg: .7rem;
$p-xl: 1rem;
//===================
//GENERAL MARGINS
//===================
$m-xs: .1rem;
$m-sm: .3rem;
$m-md: .5rem;
$m-lg: .7rem;
$m-xl: 1rem;